<div >
	<md-content layout-padding>
	<div layout="column" ng-cloak>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools rtl">
      <h2 class="md-flex rtl text-middle">מי אנחנו ולמה?!</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding class="rtl"> 
    <p>שנת 2018 כבר כאן!, לא הגיע הזמן להפסיק לחפש יחצן למסיבה? להפסיק לחפש מסיבות שאנחנו אוהבים?</p>
    <p>
קלאברס הוקמה בשבילך בליין יקר!, בכדי שתוכל לעשות הכל במקום אחד.
קלאברס מבצעת את זה בשלל דרכים:
    </p>
    <p>1. מועדונים בקרבת מקום</p>
<p>2. ממשק יעיל ונוח להזמנת מקום במועדון</p>
<p>3. הרשמה למסיבות באופן מרוכז ובסגנון המוזיקה שאתה אוהב לשמוע</p>
<p>4. גישה מהירה לניהול המסיבות, הפרופיל האישי</p>
<p>5. צ'אט חי בתוך המועדון בין כל הבליינים!(תודו שאהבתם)</p>
<p>6. כניסה מהירה למועדון באמצעות סריקת הקלאברס שלכם</p>
ועוד ועוד...
<p>קלאברס כל הזמן מתפתחת, בהמשך ,תוכלו לשתף תמונות מהמועדון, יצורף מערך קנייה ורכישת כרטיסים ישירות מהנייד, רכישות בתוך המועדון, חינמים בצורה יעילה יותר, מבצעים והטבות בלעדיות לבעלי האפליקציה !!!</p>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools rtl">
      <h2 class="md-flex rtl text-middle">מצאתם בעיה? רעיון לשיפור? צרו קשר!</h2>
    </div>
  </md-toolbar>
  </md-content>

</div>
	</md-content>

</div>
<script type="text/ng-template" id="dialog1.tmpl.html">
  <md-dialog ng-cloak>
  <form>
    <md-dialog-content>
    <md-button ng-click="hide()">X</md-button>
      <div class="md-dialog-content">
      	
        <img ng-src="img/avatar.png">
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">Hide</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
    </div>