<show-during-resolve></show-during-resolve> 
<md-content id="managment-toolbar"  ng-cloak>
    <div layout="row" class="club-sub-head">
        <span class="club-name" >בקשת רישום לאירוע</span>
    </div>
</md-content>

<div scroll-with-headline id="managment-content" flex style="overflow: auto; position: relative !important;" ng-clock>

    <md-grid-list ng-repeat="friend in friends"
                  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px" >

        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>#2: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow">
            <md-grid-tile-footer>
                <h3>#3: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="blue"
                      md-rowspan="2">
            <md-grid-tile-footer>
                <h3>#4: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red"
                      md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-grid-tile-footer>
                <h3>#5: (2r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green"
                      md-rowspan="2" >
            <md-grid-tile-footer>
                <h3>#6: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>

    <md-input-container>
        <label>יחצן</label>
        <md-select ng-model="ctrl.userState">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                {{state.abbrev}}
            </md-option>
        </md-select>
    </md-input-container>     

</div>