<show-during-resolve></show-during-resolve>
<div scroll-headline-all-friends id="all-friends-content" flex style="overflow: auto;" ng-clock>

    <div ng-repeat="friend in friends" >	
        <hr ng-if="$first" class="user-hr-no-top" >
        <hr ng-if="!$first" class="user-hr">
        <div layout="row" class="user-list">

            <div flex="35" layout="row" >
                <img ng-src='{{friend.picture}}' class="avatar" ng-click="showConfirm($event, user)"> 
            </div>
            <div flex="45" layout="row">
                <span class="user-name vertical-text" >{{friend.name}}</span>
            </div>
            <div flex="20" layout="row">
                <md-icon class="material-icons" ng-click="openChat(friend)">
                    <span class="md-subhead club-reg-btn1"><i class="material-icons">&#xE0B7;</i></span>
                </md-icon>

            </div>          
        </div>
        <hr ng-if="$last" class="user-hr-no-bottom">


    </div>
    <div ng-show="!friends" class="no-friends"><span>אין חברים לתצוגה</span></div>

</div>