<div layout="column" md-theme="altTheme" class="md-primary rtl" style="color:white;">
	<hr class="club-hr">
	<div  >
		<div layout="row" class="club-list">

			<div flex="30">
			 <img ng-src='{{user.picture}}' class="avatar" ng-click="showConfirm($event, user)"> 
				</div>
			
			<div flex="40">
				<span class="md-subhead club-name" >אבנר אבנר</span>
			</div>
			<div flex="20">
				<span class="md-subhead club-distance"><i class="material-icons">&#xE7FD;</i></span>
			</div>
			<div flex="10">
                            	<md-icon class="material-icons" ng-click="enterClub(club)">
					<span class="md-subhead club-reg-btn1"><i class="material-icons">&#xE0B7;</i></span>
				</md-icon>
			</div>
			
			
		</div>
		<hr class="club-hr">
				<div layout="row" class="club-list">

			<div flex="30">
				<div  class="md-media-sm card-media "><img style='width: 60%' ng-src="{{person.imageLogo}}">
				</div>
			</div>
			<div flex="40">
				<span class="md-subhead club-name" >אלי אלי</span>
			</div>
			<div flex="20">
				<span class="md-subhead club-distance"><i class="material-icons">&#xE7FD;</i></span>
			</div>
			<div flex="10">
                            	<md-icon class="material-icons" ng-click="enterClub(club)">
					<span class="md-subhead club-reg-btn1"><i class="material-icons">&#xE0B7;</i></span>
				</md-icon>
			</div>
			
			
		</div>
		<hr class="club-hr">
				<div layout="row" class="club-list">

			<div flex="30">
				<div  class="md-media-sm card-media "><img style='width: 60%' ng-src="{{person.imageLogo}}">
				</div>
			</div>
			<div flex="40">
				<span class="md-subhead club-name" >מיקי מיקי</span>
			</div>
			<div flex="20">
				<span class="md-subhead club-distance"><i class="material-icons">&#xE7FD;</i></span>
			</div>
			<div flex="10">
                            	<md-icon class="material-icons" ng-click="enterClub(club)">
					<span class="md-subhead club-reg-btn1"><i class="material-icons">&#xE0B7;</i></span>
				</md-icon>
			</div>
			
			
		</div>
		<hr class="club-hr">
	</div>
</div>


