<show-during-resolve></show-during-resolve> 
<md-content flex layout-padding ng-cloak class="rtl">

    <h3 style="margin: 0; text-align: center;" >בקשת רישום לאירוע</h3>

    <h5 style="margin: 0;" >מגיע עם:</h5>

    <div scroll-headline-all-friends id="all-friends-content" flex style="overflow: auto; position: relative !important;" ng-clock>

        <md-card  ng-repeat="friend in friends" style="display: inline-block !important; width: 60px !important; border-radius: 10px !important;">
            <img ng-src="{{friend.picture}}" class="md-card-image" alt="Washed Out" style="border-radius: 10px 10px 0 0 !important;">
            <md-card-title style="text-align: center !important; padding: 1px !important; height: 1.5em !important;">
                <md-card-title-text>
                    <span class="md-headline" style="font-size: 12px!important; line-height: 12px!important;" ng-class="checkLanguage(friend.displayName) === 'ltr' ? 'truncate-pic-text-ltr' : 'truncate-pic-text-rtl'">{{friend.displayName}}</span>
                </md-card-title-text>
            </md-card-title>



            <!--        <md-card-content>
                      <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                      </p>
                      <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                      </p>
                      <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                      </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button>Action 1</md-button>
                      <md-button>Action 2</md-button>
                    </md-card-actions>-->
        </md-card>



        <!--        <md-grid-list md-cols="3" md-gutter="1em" md-row-height="4:3">
        
                    <md-grid-tile class="green" ng-repeat="friend in friends">
                        <md-grid-tile-header>
                            <img ng-src='{{friend.picture}}' class="avatar"> 
                        </md-grid-tile-header>
        
                        <md-grid-tile-footer>
                            <h3>{{friend.displayName}}</h3>
                        </md-grid-tile-footer>
        
                </md-grid-list>-->
    </div>

    <md-input-container>
        <label>יחצן</label>
        <md-select ng-model="currentPO">
            <md-option><em>ללא</em></md-option>
            <md-option ng-repeat="po in pos" ng-value="po.name" ng-disabled="$index === 1">
                {{po.name}}
            </md-option>
        </md-select>
    </md-input-container>  

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="signIn()">אישור</md-button>
        <md-button class="md-raised md-primary" ng-click="cancel()">ביטול</md-button>
    </section>
</md-content>
