<div layout="column" md-theme="altTheme" class="rtl" flex style="overflow: auto;" ng-clock >
    <show-during-resolve></show-during-resolve>
    <div ng-repeat="friend in friends">
        <hr ng-if="$first" class="user-hr-top">
        <hr ng-if="!$first" class="user-hr">
        <div layout="row" class="user-list">

            <div flex="35" layout="row">
                <img ng-src='{{friend.picture.data.url}}' class="avatar" >
            </div>
            <div flex="45" layout="row">
                <span class="user-name vertical-text">{{friend.first_name}} {{friend.last_name}}</span>
            </div>
            <div flex="20" layout="row">
                <md-button style="margin: 0 auto" aria-label="add" class="md-icon-button" ng-click="">
                    <i class="club-reg-btn1 fa fa-user-plus fa-15x" aria-hidden="true"></i>
                </md-button>
            </div>
        </div>
        <hr ng-if="$last" class="user-hr-bottom">


    </div>


</div>



