

<!-- Upper toolbar with bottons to serve the user -->
<md-toolbar md-theme="altTheme" class="md-primary gradient"  ng-cloak>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>
                Side Panel
            </md-tooltip>
            <md-icon class="md-default-theme material-icons">
                &#xE5D2;
            </md-icon>
        </md-button>

        <span class="margin-left-1" ><h1>C</h1></span>
        <span><h3>lu</h3></span>
        <span><h1>B</h1></span>
        <span><h3>ears</h3></span>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="goFriends()">                   
            <md-icon class="md-default-theme material-icons">
                &#xE7FB;
            </md-icon>

        </md-button>
        <md-button class="md-icon-button animation-target" ng-click="showDialog($event, notifications)" aria-label="Messages">
            <notification-icon count="noteCount" animation='bounce'>
                <i class="fa fa-bell-o fa-15x" aria-hidden="true"></i>
            </notification-icon>


        </md-button>

    </div>
</md-toolbar>


<div style=" height:100%;"  ui-view  ng-cloak></div>

<main-side-nav  ng-cloak></main-side-nav>

