<div >
	<md-content layout-padding>
	<div layout="column" ng-cloak>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools rtl">
      <h2 class="md-flex rtl text-middle">צרף את העסק שלך עוד היום!</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding class="rtl"> 
    <p>שנת 2018 כבר כאן!, לא הגיע הזמן להחליף את דפי האקסל המיושנים?</p>
    <p>
קלאברס הוקמה בשבילך בעל עסק יקר!, בכדי לתת מענה יעיל יותר ולהגדיל את הכנסותייך מהלקוחות.
קלאברס מבצעת את זה בשלל דרכים:
    </p>
    <p>1. סטטיסטיקות מועדון מפורטות</p>
<p>2. ממשק יעיל ונוח להזמנת מקום בעסק</p>
<p>3. סינון רשימה שחורה וזיופים</p>
<p>4. גישה מהירה לניהול המסיבות</p>
ועוד ועוד...
<p>קלאברס כל הזמן מתפתחת, בהמשך אנשים יוכלו לשתף תמונות מהמועדון עם לוגו המועדון, יצורף מערך קנייה ורכישת כרטיסים ישירות מהנייד, רכישות בתוך המועדון, ניהול עובדים וחינמים בצורה יעילה יותר, לא מפסידים יותר כסף!!!</p>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools rtl">
      <h2 class="md-flex rtl text-middle">שיחה מנציג? השאר פרטים כאן!</h2>
    </div>
  </md-toolbar>
  </md-content>

</div>
	</md-content>

</div>
<script type="text/ng-template" id="dialog1.tmpl.html">
  <md-dialog ng-cloak>
  <form>
    <md-dialog-content>
    <md-button ng-click="hide()">X</md-button>
      <div class="md-dialog-content">
      	
        <img ng-src="img/avatar.png">
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">Hide</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
    </div>