
<div>
    <h3>האם לשלוח בקשה לרישום ?</h3>
</div>

<div scroll-headline-notifications id="notifications-content" flex style="overflow: auto;" ng-clock>


<md-list class="md-dense rtl" flex ng-clock>

    <md-list-item ng-clock ng-repeat="notification in Notifications" class="notification-list-item-rtl removed-item">
        <!--<div ng-show="notification.type === '1'">-->
        <md-icon class="notification-icon-rtl md-avatar md-default-theme ng-scope material-icons md-altTheme-theme" role="img" aria-hidden="true">
            &#xE853;
        </md-icon>
        <div class="md-list-item-text">
            <h3 class="notification-h3">קיבלת בקשת חברות חדשה</h3>  
            <div class="notification-second-line">
                <p class="notification-p">{{ notification.UserRequestName}} שלח לך בקשת חברות האם לאשר  ? </p>
                <md-button class="notification-button md-raised md-primary" ng-click="confirm(notification)">אשר</md-button>
                <md-button class="notification-button md-raised md-primary" ng-click="reject(notification)">דחה</md-button>
            </div>
        </div>
        <md-divider ng-if="$last" class="last-notification"></md-divider>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>

</div>



<div layout="row" class="demo-dialog-button">
    <md-button md-autofocus flex class="md-primary" ng-click="hide()">
        סגור
    </md-button>
</div>
